.containerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;

  .backgroundImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
  }

  .outsideWrapperInfo {
    margin: 0 auto;
    max-width: 1296px;
    padding: 207px 0 202px;
    
    .wrapperInfo {
      max-width: 667px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .slogan {
        color: #2c2f24;
        font: 400 100px Playfair Display;
        line-height: 96px;
        padding-bottom: 32px;
      }

      .description {
        color: #2c2f24;
        font: 400 20px DM Sans;
        line-height: 32px;
        max-width: 537px;
        padding-bottom: 40px;
      }

      .buttons {
        display: flex;
        gap: 16px;

        .btnPurple,
        .btnWhite {
          border-radius: 118px;
          text-align: center;
          font: 700 16px DM Sans;
          line-height: 24px;
          padding: 20px 0;
          cursor: pointer;

          &:hover {
            transform: 0.5s;
            opacity: 80%;
          }
        }

        .btnPurple {
          background: #ad343e;
          color: #fff;
          width: 163px;
        }

        .btnWhite {
          border: 1.5px solid #2c2f24;
          color: #182226;
          width: 170px;
        }
      }
    }
  }
}

.containerCentre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 92px 10px 120px;
  margin: 0 auto;
  max-width: 1296px;
  gap: 64px;

  h2 {
    color: #2c2f24;
    text-align: center;
    font: 500 55px Playfair Display;
    line-height: 60.5px;
  }

  .menuCardsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    .menuCard {
      max-width: 306px;
      border-radius: 12px;
      border: 1.5px solid #dbdfd0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      padding: 40px 34px 32px;
      text-align: center;

      .descriptionMenuCard {
        h3 {
          color: #2c2f24;
          font: 700 24px DM Sans;
          line-height: 30px;
          letter-spacing: -0.72px;
          padding-bottom: 15px;
        }

        p {
          color: #414536;
          font: 400 16px DM Sans;
          line-height: 24px;
        }
      }

      .linkToExploreMenu {
        color: #ad343e;
        font: 700 16px DM Sans;
        line-height: 24px;

        &:hover {
          transition: 0.5s;
          opacity: 70%;
        }
      }
    }
  }
}

.containerBottom {
  background-color: #f9f9f7;
  width: 100%;

  .wrapper {
    margin: 0 auto;
    max-width: 1296px;
    padding: 120px 10px;
    display: flex;
    flex-direction: column;
    gap: 64px;

    h2 {
      color: #2c2f24;
      font: 500 55px Playfair Display;
      line-height: 60.5px;
      max-width: 675px;
    }

    .eventsCardsWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 14px;

      .eventCard {
        .imgEventCard {
          border-radius: 12px;
        }

        .descriptionEventCard {
          max-width: 280px;

          h3 {
            color: #2c2f24;
            font: 700 24px DM Sans;
            line-height: 30px;
            letter-spacing: -0.72px;
            padding-top: 25px;
          }

          p {
            color: #414536;
            font: 400 16px DM Sans;
            line-height: 24px;
            padding-top: 15px;
          }
        }
      }
    }
  }
}
