.container {
  margin: 0 auto;
  max-width: 1296px;
  padding: 65px 10px 118px;
  display: flex;
  gap: 90px;
  align-items: center;

  .img {
    border-radius: 12px;
  }

  .infoWrapper {
    max-width: 557px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      color: #2c2f24;
      font: 500 55px Playfair Display;
      line-height: 60.5px;
    }

    .description {
      color: #2c2f24;
      font: 500 18px DM Sans;
      line-height: 28px;
    }

    .priceWrapper {
      display: flex;
      gap: 5px;

      p {
        color: #414536;
        font: 400 16px DM Sans;
        line-height: 24px;
      }
    }
  }
}
